= form_for :histogram, url: { controller: "histograms", action: "create" } do |f|
  .row.collapse
    .small-10.columns
      =f.text_field :username, placeholder: "username"
    .small-2.columns.end
      =f.submit "Generate", class: "button postfix"
