.row
  .small-12.text-center.columns
    %h2
      %a{href: tumblr_url(@tumblr.username)}
        = @tumblr.username
    %p Sample size: #{@tumblr.data_size} posts

    %a{href: "#", id: "reset", class: "button tiny round"} Reset
    %a{href: "#", id: "pie", class: "button tiny round"} Pie

.row
  .small-9.small-centered.columns.chart-container
    %input{ id: "chart-data", name: "chart_data", type: "hidden", value: @histogram.to_json }

    %svg{class: "chart", style: "background: #eee;"}

!= js :histogram

