.row
  .small-3.columns
    %h2
      %a{href: tumblr_url(@histogram)}
        = @histogram.username
    %p Sample size: #{@histogram.data_size} posts

    -# form_tag "/histograms/#{@histogram.id}/pull", :method => "post" do
    %form{ method: "post" }
      %button{type: "submit", class: "button tiny round"} Update
      %a{href: "#", id: "reset", class: "button tiny round"} Reset

    %a{href: "#", id: "pie", class: "button tiny round"} PIE

  .small-9.columns.chart-container
    %input{ id: "chart-data", name: "chart_data", type: "hidden", value: @histogram.histogram.to_json }

    %svg{class: "chart", style: "background: #eee;"}

!= js :histogram
